body {
  font-family: 'Roboto', sans-serif;
  color: #000205;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

/*header section*/
.top_container {
  font-family: 'Poppins', sans-serif;
}

.header-container {
  padding: 10px 20px;
  color: #005834;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: left;
  flex-direction: row;
  white-space: nowrap;
}

.navigation-menu {
  padding: 10px 10px;
  font-size: .9em;
  align-items: center;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
}

.name-home {
  font-size: 3em;
  color: #005834;
  font-weight: normal;
}
.name-home:hover {
  font-size: 3em;
  transform: translateY(-3px);
  cursor: pointer;
  color: #000;
}

.nav-link-home,
.nav-link-about,
.nav-link-resume,
.nav-link-projects,
.nav-link-blog {
  font-size: 1.5em;
  color: #005834;
  margin-left: 10px;
}

.nav-link-home:hover,
.nav-link-about:hover,
.nav-link-resume:hover,
.nav-link-projects:hover,
.nav-link-blog:hover {
  transform: translateY(-3px);
  cursor: pointer;
  color: #000;
}


/*end header section*/


/* about section */
.about_section {
  background-color: #f8faf9;
}

.home-greeting {
  margin-top: 25px;
  margin-left: 20px;
  font-size: 3em;
}

.home-intro {
  font-size: 2.25em;
  margin-left: 30px;
}

.about_section .row {
  align-items: top;
  display:flex;
  flex-direction: row;
}

.homepage-navigation {
  padding: 20px 50px;
  display: flex;
  align-items: left;
  flex-direction: column;
}

.homepage-navigation a {
  color: #005834;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 2em;
  white-space: nowrap;
}

.homepage-about-link:hover,
.homepage-resume-link:hover,
.homepage-blog-link:hover,
.homepage-projects-link:hover {
  transform: translateY(-3px);
  cursor: pointer;
  color: #000;
}

.portrait_img-box img {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
  width: 200px;
}



/* end About section */


/* about_me section */
.about_me_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about_me_box1,
.about_me_box2,
.about_me_box3,
.about_me_box4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3% 1% 0 1%;
  transform: translateY(0);
  transition: all .7s;
  padding-bottom: 5%;
}

.about_me_box1:hover,
.about_me_box2:hover,
.about_me_box3:hover,
.about_me_box4:hover  {
  transform: translateY(-2px);
  cursor: pointer;
}
.about_me_box1:hover .about_me_img-box1,
.about_me_box2:hover .about_me_img-box2,
.about_me_box3:hover .about_me_img-box3,
.about_me_box4:hover .about_me_img-box4 {
  background-color: #005834;
}

.about_me_img-box1,
.about_me_img-box2,
.about_me_img-box3,
.about_me_img-box4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 85%;
  border-radius: 30%;
  background-color: #363636;
}

.about_me_emoji {
  font-size: 7em;
}

.about_me_header {
  display: flex;
}

/* end About section */



/* info section */
.info_section {
  padding-top: 1%;
  padding-bottom: 1%;
  color: #fff;
  background-color: #000;
}

.contact_container {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}

.info_social {
  padding: 3% 5%;
  display: flex;
  align-items: left;
  flex-direction: column;
}

.info_social a {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.5em;
  white-space: nowrap;
}

.github:hover{
  transform: translateY(-3%);
  cursor: pointer;
  color:#005834;
}

.github img {
  width: 90px;
}

.linkedin {
  margin: 3%;
}

.linkedin:hover{
  transform: translateY(-3%);
  cursor: pointer;
  color:#005834;
}

.linkedin img {
  width: 62px;
}
.linkedin p {
  margin-top: 10px;
  margin-left: 10px;
}

.get_in_touch {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.get_in_touch h5 {
  color: #027243;
  font-size: 2em;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.get_in_touch .email-box {
  height: 90px;
  padding-left: 20px;
}

.get_in_touch .email-box input {
  background-color: #fdfdfe;
  width: 50%;
  border: none;
  border-radius: 20px;
  outline: none;
  padding-left: 20px;
  margin-bottom: 3px;
}

.get_in_touch .email-box input::placeholder {
  opacity: .4;
}

.get_in_touch .message-box {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
}

.get_in_touch .message-box textarea {
  padding-left: 15px;
  padding-right: 15px;
  width: 550px;
}

.get_in_touch .message-box textarea::placeholder {
  opacity: .4;
}

.get_in_touch #submit-button {
  border: none;
  background-color: #005834;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 7px 25px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.get_in_touch #submit-button:hover{
  transform: translateY(-3px);
  cursor: pointer;
  color:#005834;
  background-color: #fff;
}

.get_in_touch #reset-button {
  border: none;
  background-color: #005834;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 7px 25px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.get_in_touch #reset-button:hover{
  transform: translateY(-3px);
  cursor: pointer;
  color:#005834;
  background-color: #fff;
}

/* end info section */


/* footer section*/

.footer_section {
  background-color: #fdfdfe;
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
}

.footer_section p {
  color: #000;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #000;
}

/* end footer section*/


@media (max-width: 992px) {

  .welcome_section::before {
      display: none;
  }
}

@media only screen and (max-width: 750px) {
  .header-container {
    align-items: center;
    flex-direction: column;
  }

  .navigation-menu {
    font-size: .7em;
  }
}

@media only screen and (max-width: 600px) {

  .contact_container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .get_in_touch .email-box input {
    margin-bottom: 6px;
  }

  .get_in_touch .message-box textarea {
    width: 350px;
  }

  .get_in_touch .message-box textarea{
    margin-top: 25px;
    margin-right: 5px;
  }
} 